/* Ajusta o site como um todo */
.standardtext {
    color: black;
    background-color: whitesmoke;
    margin: 0;
    margin-top: 10;
    padding: 0;
    flex-grow: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-rendering: auto;
}

/* Ajusta o nav e filhos */
.menuorder {
    color: whitesmoke;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 10px;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.linkmenu a:link, .linkmenu a:visited, .linkmenu a:active {
    color: whitesmoke;
    text-decoration: none;
}

.linkmenu a:hover {
    text-decoration: underline;
    color: aquamarine;
}

.linkmenu {
    margin-right: 50px;
}

/* Ajusta o Header e filhos*/
.contrastheader {
    background-color: #333;
    color: whitesmoke;
    padding: 50px;
    padding-bottom: 60px;
}

.textjustify {
    max-width: 900px;
    margin: auto;
    text-align: justify;
    line-height: 1.2;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1px;
    padding-bottom: 10px;
}

.texttitle {
    padding-top: 30px;
    text-align: center;
    font-size:500%;
}

/* Ajusta Titulo do Portfólio*/
h3 {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size:750%;
}

/* Ajusta os divisores*/
.container {
    display: flex;
    height: 100vh;
}

.verticaldivider {
    width: 1px;
    background-color: #333;
    height: 100%;
}

.horizontaldivider{
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
}

/* Ajusta a imagem dos projetos*/
img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.imgjustify {
    max-width: 600px;
    margin: auto;
    text-align: justify;
    line-height: 1.2;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1px;
    padding-bottom: 10px;
}

/* Ajusta o footer*/
.contrastfooter {
    background-color: #333;
    color: whitesmoke;
    padding: 5px;
    margin-top: 20px;
}