/* Ajusta o site como um todo */
.standardtext {
    color: black;
    background-color: whitesmoke;
    margin: 0;
    margin-top: 10;
    padding: 0;
    flex-grow: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-rendering: auto;
}

/* Ajusta o nav e filhos */
.menuorder {
    color: whitesmoke;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 10px;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.linkmenu a:link, .linkmenu a:visited, .linkmenu a:active {
    color: whitesmoke;
    text-decoration: none;
}

.linkmenu a:hover {
    text-decoration: underline;
    color: aquamarine;
}

.linkmenu {
    margin-right: 50px;
}
